extends layout

block map
  style.
    #map {
      display: flex;
      flex-wrap: wrap;
    }
    @media only screen and (min-width: 320px) {
      #map { height: 1000px; }
    }
    @media only screen and (min-width: 480px) {
      #map { height: 1000px; }
    }
    @media only screen and (min-width: 768px) {
      #map { height: 1000px; }
    }
    @media only screen and (min-width: 992px) {
      #map { height: 500px; }
    }
    @media only screen and (min-width: 1400px) {
      #map { height: 700px; }
    }
    h3, p {
      text-align: center;
    }
    #markerLayer img {
      border: 2px solid red !important;
      width: 85% !important;
      height: 90% !important;
      border-radius: 5px;
    }

  h3 Celdas S2 tamaño 12, areas verdes y gimnasios de Lima

  .row
    #map.col-xs-12.col-md-10.col-md-offset-1

  br
  p En esta primera version del mapa, he incluido todos los distritos que pude, ya que no es facil recolectar la data de los gimnasios.
  h3 VanDerCroix

  script.
    var map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: -12.008227904048124, lng: -77.10734767766395 },
        zoom: 11
      });

      map.data.loadGeoJson('/cells.geojson');
      map.data.loadGeoJson('/parks.geojson');
      map.data.setStyle(function (feature) {
        var click = feature.getProperty('clickable');
        var color = feature.getProperty('fill');
        var fillOpacity = feature.getProperty('fill-opacity');
        var strokeColor = feature.getProperty('stroke');
        var strokeWidth = feature.getProperty('stroke-width');
        var strokeOpacity = feature.getProperty('stroke-opacity');
        return {
          clickable: false,
          fillColor: color,
          fillOpacity: fillOpacity,
          strokeWeight: strokeWidth,
          strokeColor: strokeColor,
          strokeOpacity: strokeOpacity
        };
      });

      //- var layer = new google.maps.FusionTablesLayer({
      //-   query: {
      //-     select: 'latitude',
      //-     from: '1cEgeJ7fZFBoyBVYSr6M2kmsZW2d74JllfCZO-ep7'
      //-   }
      //- });
      //- layer.setMap(map);
      layer = new google.maps.FusionTablesLayer({
        map: map,
        heatmap: { enabled: false },
        query: {
          select: "col7",
          from: "1cEgeJ7fZFBoyBVYSr6M2kmsZW2d74JllfCZO-ep7",
          where: ""
        },
        options: {
          styleId: 12,
          templateId: 14,
          zIndex: google.maps.Marker.MAX_ZINDEX + 1
        }
      });
      //- add parks
    }

  script(async defer src='https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAR1gncYPE4fzlkB6hbGvta921qV1sG4X0&callback=initMap')